.before {
  margin: 12px;
  border: 4px solid green;
  padding: 4px;
  background-color: purple;
  width: 300px;
  float: left;
}
.during {
  margin: 12px;
  border: 4px solid green;
  padding: 4px;
  background-color: orange;
  width: 300px;
  float: left;
}
.after{
  margin: 12px;
  border: 4px solid green;
  padding: 4px;
  background-color: blue;
  width: 300px;
  float: left;
}
.info {
  margin: 12px;
  border: 4px solid green;
  padding: 4px;
  width: 300px;
  float: left;
  background-color: yellow;
}
.pic {
  float: right;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
